body {
    background-color: #d7ebff;
}

.photo, .photo-list, .article, .article-list {
    & .preview {
        max-width: 200px;
        max-height: 200px;
    }

    th {
        background-color: #49bcff;
        border: 1px solid #2388af;
        text-align: center;
        padding: 3px 10px;
        color: #001373;
    }

    .underline {
        border-bottom: 1px solid #49bcff;
    }
}

#sidebar {
    background-color: aliceblue;
    height: 92vh;

    & ul > li {
        list-style-type: none;
    }
}

.va-top {
    vertical-align: top;
}

.photo-title, .article-title {
    max-height: 70px;
    overflow: hidden;
}

.alert {
    margin-bottom: 0;
}